.page-header-with-button-container .header-with-button-section{
    box-sizing: border-box;
}

.page-header-with-button-container {
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding:10px;
    border-radius: 5px;
    background-color: #fff;
    align-items: center;
    
}
.add-customer-button {
    width:fit-content;
    font-size: smaller;
    padding:10px 7px;
}
.page-header-with-button-container .add-customer-button {
    width:auto;
}

.header-with-button-section h3 {
    color: var(--header-text-color);
    font-size:25px;
}

.header-with-button-section p {
    color: var(--subtitle-color);
}


.customers-filter-and-grid-layout {
    width:100%;
}


.customers-details-renderer-box:hover {
    /* box-shadow: 1px 2px 2px #ccc;
    scale:calc(1.01);
    transition: 0.3s ease-out; */

}

.customers-details-renderer-box {
    display: flex;
    align-items:center;
    justify-content: flex-start;
    padding:5px;
    margin:5px 0;
    box-sizing: border-box;
    /* border: 1px solid #ddd; */
    border-radius: 10px;

}

.customers-details-renderer-box .customer-avator {
    opacity: 0.3;
    background-color: rgb(218, 247, 255);
    align-self: center;
    margin-right:5px;
}

.customers-details-renderer-box span {
    color:var(--subtitle-color);
}

.customers-details-renderer-box .default-menu-bar-style{
    /*border: 1px solid #ab1111;*/
    /*border-radius:15px;*/
    /*box-sizing: border-box;*/
    /*width: 30px;*/
    padding:0;
}

.customers-details-renderer-box .default-menu-bar-style::part(content) {
    background-color: red
}

.customers-details-grid-component {

}

.customers-details-grid-component vaadin-icon {
    color:var(--subtitle-color);
    font-size: small;
}

.customer-name-and-cars-box {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}
.customer-name-and-cars-box h4 {
    color:var(--header-text-color);
    padding:5px;
}

.customer-name-and-cars-box .vehicles-layout {
    /*gap:5px;*/
    color:var(--subtitle-color);
    /*text-transform: capitalize;*/
    /*font-style: italic;*/
}

.customers-action-button-container {
    gap:5px;
    font-size: smaller;
    margin:0;
    justify-content:start;
    cursor:pointer;
}

.customers-action-button-container div {
    align-items: stretch;
    justify-content: stretch;
    width: 100%;
    gap:3px;
    margin:0;
}

/*customer update form styling...*/
.customer-update-form-parent-layout {
    border:1px solid var(--lumo-contrast-50pct);
    box-sizing: border-box;
    border-radius:5px;
    padding:10px;
}

.customer-update-header-title {
    color: var(--header-text-color);
    padding: 10px;
    width:100%;
    box-sizing: border-box;
    border-bottom: 1px solid var(--lumo-contrast-20pct);
}

.customer-update-form-layout {
    border:1px solid #ddd;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
}
.customer-password-section {
    background-color: #eef9ff;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}
.customer-password-section vaadin-button {
    width:fit-content;
    font-size: 11px;
    cursor:pointer;
}

.customer-password-body-content {
    text-align: center;
}
.customer-update-button-container {
    border-radius: 5px;
    margin: 5px 0;
}

.dialog-content-layout {
    box-sizing: border-box;
    /*height:500px;*/
    border:1px solid #dddddd;
    border-radius: 5px;
}
.form-layout-style {
    box-sizing: border-box;
    border-radius:5px;
    padding:10px;
    border:1px solid lightsteelblue;
}
.form-layout-style .default-button-style {
    max-width:60px;
    margin: 5px 0;
    align-self: end;
}

.form-layout-style vaadin-text-field, .form-layout-style vaadin-combo-box {
    min-width:fit-content;
}

/*CUSTOMER ACCOUNT DIALOG STYLING...*/
.customer-account-parent-box {
    background-color: #f3fbff;
    box-sizing: border-box;
    border-radius:5px;
    border:1px solid #e5f4fc;
    box-shadow: var(--lumo-box-shadow-xs);
}
.customer-account-parent-layout {

}

.customer-account-body {
    padding:0;
    height:100%;
}
.payment-radio-button{
    align-items:center;
    margin:auto;
}
.payment-method-radio-group {
    border: 1px solid #dddddd;
    border-radius: 5px;
    margin:5px 0;
    width:100%;
    padding:5px 10px;
    box-sizing: border-box;

}
.payment-method-radio-group::part(radio)::after {

}


.transaction-section {
    background-color: #fff;
    height:100%;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: var(--lumo-box-shadow-xs);
}
.transaction-section vaadin-button {
    width:100%;
    font-size: small;
    padding:10px;
    margin: 5px 0;
    color: #fff;
    background-color:var(--lumo-primary-color);
    cursor: pointer;
}
.deposit-history-section {
    min-height:500px;
}

.transaction-section h4 {
    background-color: var(--lumo-contrast-5pct);
    color:var(--header-text-color);
    box-sizing: border-box;
    padding:10px;
    border-radius: 5px;
    width:100%;
}

.transaction-logs-payment-type {
    font-size: 10px;
}

.customer-account-box {
    margin:-7px 0;
    align-items: center;
    justify-content: space-between;
    width:100%;
}
.account-box-3 {
    background-color: var(--lumo-success-color-10pct);
    border-radius: 5px;
    margin: 0;
    padding: 8px;
}
.account-box-3 h3 {
    color: var(--lumo-success-text-color);
}

.back-button{
    width:fit-content;
    font-size: small;
    padding:10px;
    margin: 5px 0;
}

.back-button:hover {
    background-color: var(--lumo-primary-color);
    color: #ffffff;
    cursor: pointer;
    scale:  1.02;
}

.customer-account-header {
    border: 1px solid #ddd;
    align-items: center;
    padding: 20px;
    background-color: #ffff;
    border-radius: 5px;
    box-shadow:  var(--lumo-box-shadow-xs);
    box-sizing: border-box;
}

.customer-account-header h4 {
    text-align: center;
    color: var(--header-text-color);
    width: 100%;

}


/* ADD CUSTOMER VIEW STYLING */
.customer-input-area {
    box-sizing: border-box;
    padding:10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.customer-info-area {
    padding:10px;
    border-radius: 5px;
    background-color: #fff;
    box-sizing: border-box;
    align-items: baseline;
    /* box-shadow: 1px 1px 2px 1px #ddd; */
    border: 1px solid #ddd;
    margin: 5px 0;
}

.car-info-box .add-car-info-button {
    width:fit-content;
}

.inner-header-text {
    font-size: medium;
    color: var(--subtitle-color);
    border-bottom: 1px solid #ddd;
    margin-bottom: 5px;
    padding: 5px 0;
    font-weight: 500;
}

.car-info-box {
    /*display: grid;*/
    /*grid-template-columns: 35% 15% 15% 25% 10%;*/
    /*margin: 10px 0;*/
    /*border: 1px solid #ddd;*/
    /*padding:5px;*/
    /*border-radius:3px;*/
    /*box-sizing: border-box;*/
    /*align-items: baseline;*/
    /*justify-content: center;*/

    justify-content: center;
    align-items: baseline;
    margin:15px auto;
    box-sizing:border-box;
    border: 1px solid var(--lumo-contrast-20pct);
    padding:10px;
    border-radius: var(--lumo-space-s);
}

.car-info-box .add-car-info-button {
    font-size: var(--lumo-font-size-xs);
    cursor:pointer;
    align-self: end;
}

.buttons-box{
    box-sizing: border-box;
    gap:10px;
    align-items: baseline;
    margin: 10px 0;
}

.buttons-box vaadin-button {
    width:100px;
}

.item-text-area{
    grid-column: span 2;
    height: 100px;
}

/*MOBILE VIEW STYLING...*/
@media screen and (max-width:768px) {
    
    .customers-details-renderer-box {
        display: block;
        width:100%;
        align-items: center;
    }

    .car-info-box,.customer-input-area ,
    .customer-password-section, .customer-account-box   {
        display: flex;
        flex-direction: column;
    }

    .customer-password-section vaadin-button {
        width:100%;
    }
    .customer-account-parent-box {
       /*min-width:100px;*/
    }

    .car-info-box .add-car-info-button {
        width:100%;
        content: none;
    }
}
