.dashboard-view {
  padding: 2px;
  box-sizing: border-box;
  display: block;
  position: relative;
  height: 100%;
  overflow-y: auto;
  --cv-blue: 212 96% 54%;
  --cv-purple: 259 97% 66%;
  --cv-dropzone-border-color: hsl(var(--cv-blue) / 0.5);
  --cv-dropzone-bg-color: hsl(var(--cv-blue) / 0.2);
  --cv-droptarget-border-color: hsl(var(--cv-purple) / 1);
  --cv-droptarget-bg-color: hsl(var(--cv-purple) / 0.4);
  --cv-stripe-width: 1.5px;
  --cv-stripe-gap: 9px;
  --cv-stripe-color: hsl(var(--cv-blue) / 0.2);
  --cv-layout-border-color: var(--lumo-contrast-40pct);
  --cv-checkerboard-color1: hsl(0 0% 0% / 0.05);
  --cv-checkerboard-color2: hsl(0 0% 100% / 0.05);
  --cv-checkerboard-size: 16px;
}

.dashboard-view[dragging] {
  --cv-checkerboard-color1: hsl(var(--cv-blue) / 0.2);
  --cv-checkerboard-color2: hsl(var(--cv-blue) / 0.1);
  --cv-layout-border-color: var(--cv-dropzone-border-color);
}

.dashboard-view .preview-container {
  display: contents;
}

/* The root layout is not necessarily inside a flex box so width/height needs to be used */
.dashboard-view .preview-container > .layout[style*='align-self: stretch'] {
  width: 100%;
}
.dashboard-view .preview-container > .layout[style*='flex-grow: 1'] {
  height: 100%;
}

/* Apply some default gap and padding to layouts that don't have inline styles for them while dragging. */
.dashboard-view[dragging] .layout:not([style*='gap:']) {
  gap: 8px;
}

.dashboard-view[dragging] .layout:not([style*='padding:'], [empty]) {
  padding: 8px;
}

.dashboard-view .cover-overlay {
  position: absolute;
  border-radius: 1px;
}

.dashboard-view:not([starting-drag]) .cover-overlay.editable-hovering {
  outline: 2px solid hsl(var(--cv-blue) / 1);
  outline-offset: -1px;
}

.dashboard-view:not([starting-drag]) .cover-overlay.editable-editing {
  outline: 1px solid hsl(var(--cv-blue) / 1);
  outline-offset: -1px;
  box-shadow: inset 0 0 0 2px var(--lumo-base-color);
}

.dashboard-view .overlays,
.dashboard-view .drop-zones {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.dashboard-view:not([dragging]) .drop-zones {
  pointer-events: none;
}

.dashboard-view .drop-zone {
  position: absolute;
  box-sizing: border-box;
  border-radius: 1px;
  min-height: 10px;
  min-width: 10px;
}

.dashboard-view[dragging] .drop-zone:not([empty-layout]) {
  outline: 1px dashed var(--cv-dropzone-border-color);
  outline-offset: -2px;
  background-color: var(--cv-dropzone-bg-color);
}

.dashboard-view .drop-zone[remaining-space] {
  background: repeating-linear-gradient(
    -45deg,
    var(--cv-stripe-color),
    var(--cv-stripe-color) var(--cv-stripe-width),
    transparent var(--cv-stripe-width),
    transparent var(--cv-stripe-gap)
  );
}

.dashboard-view[dragging] .drop-zone[drag-over] {
  background: var(--cv-droptarget-bg-color);
  outline: 1px solid var(--cv-droptarget-border-color);
  outline-offset: -1px;
  box-shadow: inset 0 0 0 2px var(--lumo-base-color);
}

.drop-zone[empty-layout] {
  z-index: -1;
}

.dashboard-view:not([readonly]) .layout[empty],
vaadin-form-layout[empty] {
  border-radius: 1px;
  background: repeating-conic-gradient(var(--cv-checkerboard-color1) 0% 25%, var(--cv-checkerboard-color2) 0% 50%) 50% /
    var(--cv-checkerboard-size) var(--cv-checkerboard-size);
  background-clip: content-box;
  outline: 1px dashed var(--cv-layout-border-color);
  outline-offset: -2px;
}
.dashboard-view[dragging]:not([readonly]) vaadin-form-layout[empty] {
  background: transparent;
}

.dashboard-view .layout[empty]::before {
  content: '';
  display: block;
  min-width: 64px;
  min-height: 32px;
}

.dashboard-view[readonly] .drop-zones,
.dashboard-view[readonly] .overlays {
  display: none;
}

.dashboard-view[inline-editing] .drop-zones,
.dashboard-view[inline-editing] .overlays {
  display: none;
}
.dashboard-view .content-wrapper[contenteditable='true'] {
  display: inline-block;
  overflow: hidden;
  width: 100%;
}

.dashboard-view[dragging] vaadin-form-layout {
  padding: 8px;
}
.dashboard-view vaadin-form-layout[empty]::before {
  content: '';
  display: block;
  min-width: 64px;
  min-height: 32px;
}

.dashboard-view[dragging] vaadin-form-layout:not([empty])::after {
  content: '';
  display: block;
  min-width: 64px;
  min-height: 32px;
}


/*CUSTOM CSS */
.dashboard-body {
  background-color: #fff;
  border-radius: 5px;
  box-sizing:  border-box;
}
.dashboard-footer {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 0 0 5px 5px;
}

.dashboard-card-section {
  border:1px solid #e0e0e0;
  padding: 10px 20px;
  border-radius:8px;
  box-sizing: border-box;
}

.dashboard-card-section:hover {
    box-shadow: var(--item-layout-shadow);
    transition: box-shadow 0.3s ease;
    /*border:1px solid #4A6FA5;*/
    cursor: pointer;
}
.dashboard-card-icon {
  background-color:#eee;
  color: #4d819d;
  font-size: var(--lumo-size-m);
  padding:10px;
  border-radius: 50%;
}

.dashboard-card-value {
  color: #4A6FA5;
  font-size: 25px;
}

.dashboard-cards-layout {
  /*background-color: #4A6FA5;*/
  width:100%;
  padding:10px;
  box-shadow:0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing:  border-box;
}

.dashboard-recent-services {
  background-color: #f4fdff;
}


/* CUSTOMER-DASHBOARD-STYLING */
.dashboard-body-content {
  border:1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 10px;
  background-color: #fff;
  
}

.dashboard-view-title-layout {
  color: var(--header-text-color);
  box-sizing: border-box;
  background-color: #fff;
  padding: 20px;
  max-width:99%;
  margin: 0;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
   border-bottom: 1px solid #4d819d;
}
.dashboard-header-section {
  background-color:#98a5ba;
  box-sizing: border-box;
  padding:10px;
  border-radius: 5px;
  color: #fff;
}
.dashboard-header-section span, p {
  font-size: medium;
  margin: 2px;
}
.dashboard-name-section {
  align-items: center;
  border-bottom:1px solid #e8e8e8;
}
.dashboard-name-section h3 {
  color: #fff;
  
}
.dashboard-menu-box {
  /* border: 1px solid green; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  box-sizing: border-box;
  padding:0;
  margin: 10px auto;
}
.dashboard-menu-card {
  border: 1px solid #ddd;
  box-sizing: border-box;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}
.dashboard-menu-card vaadin-icon {
  font-size: 30px;
  margin: 10px 0;
  color: #6380ab;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 100%;
  background-color: #dceaffec;
}
.dashboard-menu-card h3 {
  color:var(--header-text-color);
  margin: 10px 0;
}
.dashboard-menu-card p {
  color:var(--subtitle-color);
  margin: 10px;
  font-size:small;
}

.dashboard-menu-card:hover {
  box-shadow: var(--lumo-box-shadow-xs);
  transition: 0.3s ease-out;
  cursor: pointer;
  /* background-color: #f4f9ff; */
  border: 1px solid #4d819d;
}
.dashboard-summary-form-layout {
  margin: 10px;
}
.dashboard-summary-form-layout h4 {
  color:var(--header-text-color);
  margin:20px 0;
  border-bottom:1px solid #ddd;
  padding-bottom: 5px;
  width:100%;
}
.dashboard-summary-card {
  border:1px solid #ddd;
  box-sizing: border-box;
  padding:10px;
  border-radius: 20px;
  text-align: center;

} 
.dashboard-summary-card:hover {
  border:1px solid var(--lumo-primary-color);
  transition: 0.3m ease;
}
.dashboard-summary-card h3 {
  color: #4A6FA5;
  padding: 5px;
  font-size: 25px;
}
.dashboard-summary-card p {
  font-size: 13px;
  color: var(--subtitle-color);
}
.dashboard-account-card {
  background-color: rgb(45, 203, 45);
  
}
.dashboard-summary-card > * {
  color:var(--subtitle-color);
}
.dashboard-account-card > *, 
.dashboard-account-card h3, 
.dashboard-account-card p {
  color:#fff;
}

/*MEDIA QUERY */

@media (max-width: 768px)  {
  .dashboard-cards-layout, .dashboard-view-title-layout{
    flex-direction: column;
  }
  .dashboard-card-section {
    margin-bottom: 10px;
  }
  .dashboard-menu-box {
    grid-template-columns: repeat(1, 1fr);
  }
}