.employees-view {
  padding: 2px;
  box-sizing: border-box;
  display: block;
  position: relative;
  height: 100%;
  overflow-y: auto;
  --cv-blue: 212 96% 54%;
  --cv-purple: 259 97% 66%;
  --cv-dropzone-border-color: hsl(var(--cv-blue) / 0.5);
  --cv-dropzone-bg-color: hsl(var(--cv-blue) / 0.2);
  --cv-droptarget-border-color: hsl(var(--cv-purple) / 1);
  --cv-droptarget-bg-color: hsl(var(--cv-purple) / 0.4);
  --cv-stripe-width: 1.5px;
  --cv-stripe-gap: 9px;
  --cv-stripe-color: hsl(var(--cv-blue) / 0.2);
  --cv-layout-border-color: var(--lumo-contrast-40pct);
  --cv-checkerboard-color1: hsl(0 0% 0% / 0.05);
  --cv-checkerboard-color2: hsl(0 0% 100% / 0.05);
  --cv-checkerboard-size: 16px;
}

.employees-view[dragging] {
  --cv-checkerboard-color1: hsl(var(--cv-blue) / 0.2);
  --cv-checkerboard-color2: hsl(var(--cv-blue) / 0.1);
  --cv-layout-border-color: var(--cv-dropzone-border-color);
}

.employees-view .preview-container {
  display: contents;
}

/* The root layout is not necessarily inside a flex box so width/height needs to be used */
.employees-view .preview-container > .layout[style*='align-self: stretch'] {
  width: 100%;
}
.employees-view .preview-container > .layout[style*='flex-grow: 1'] {
  height: 100%;
}

/* Apply some default gap and padding to layouts that don't have inline styles for them while dragging. */
.employees-view[dragging] .layout:not([style*='gap:']) {
  gap: 8px;
}

.employees-view[dragging] .layout:not([style*='padding:'], [empty]) {
  padding: 8px;
}

.employees-view .cover-overlay {
  position: absolute;
  border-radius: 1px;
}

.employees-view:not([starting-drag]) .cover-overlay.editable-hovering {
  outline: 2px solid hsl(var(--cv-blue) / 1);
  outline-offset: -1px;
}

.employees-view:not([starting-drag]) .cover-overlay.editable-editing {
  outline: 1px solid hsl(var(--cv-blue) / 1);
  outline-offset: -1px;
  box-shadow: inset 0 0 0 2px var(--lumo-base-color);
}

.employees-view .overlays,
.employees-view .drop-zones {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.employees-view:not([dragging]) .drop-zones {
  pointer-events: none;
}

.employees-view .drop-zone {
  position: absolute;
  box-sizing: border-box;
  border-radius: 1px;
  min-height: 10px;
  min-width: 10px;
}

.employees-view[dragging] .drop-zone:not([empty-layout]) {
  outline: 1px dashed var(--cv-dropzone-border-color);
  outline-offset: -2px;
  background-color: var(--cv-dropzone-bg-color);
}

.employees-view .drop-zone[remaining-space] {
  background: repeating-linear-gradient(
    -45deg,
    var(--cv-stripe-color),
    var(--cv-stripe-color) var(--cv-stripe-width),
    transparent var(--cv-stripe-width),
    transparent var(--cv-stripe-gap)
  );
}

.employees-view[dragging] .drop-zone[drag-over] {
  background: var(--cv-droptarget-bg-color);
  outline: 1px solid var(--cv-droptarget-border-color);
  outline-offset: -1px;
  box-shadow: inset 0 0 0 2px var(--lumo-base-color);
}

.drop-zone[empty-layout] {
  z-index: -1;
}

.employees-view:not([readonly]) .layout[empty],
vaadin-form-layout[empty] {
  border-radius: 1px;
  background: repeating-conic-gradient(var(--cv-checkerboard-color1) 0% 25%, var(--cv-checkerboard-color2) 0% 50%) 50% /
    var(--cv-checkerboard-size) var(--cv-checkerboard-size);
  background-clip: content-box;
  outline: 1px dashed var(--cv-layout-border-color);
  outline-offset: -2px;
}
.employees-view[dragging]:not([readonly]) vaadin-form-layout[empty] {
  background: transparent;
}

.employees-view .layout[empty]::before {
  content: '';
  display: block;
  min-width: 64px;
  min-height: 32px;
}

.employees-view[readonly] .drop-zones,
.employees-view[readonly] .overlays {
  display: none;
}

.employees-view[inline-editing] .drop-zones,
.employees-view[inline-editing] .overlays {
  display: none;
}
.employees-view .content-wrapper[contenteditable='true'] {
  display: inline-block;
  overflow: hidden;
  width: 100%;
}

.employees-view[dragging] vaadin-form-layout {
  padding: 8px;
}
.employees-view vaadin-form-layout[empty]::before {
  content: '';
  display: block;
  min-width: 64px;
  min-height: 32px;
}

.employees-view[dragging] vaadin-form-layout:not([empty])::after {
  content: '';
  display: block;
  min-width: 64px;
  min-height: 32px;
}


.employees-header-container {
  /* display:grid; */
  /* grid-template-columns: 70% 20%; */
  background-color: rgb(255, 255, 255);
  align-items: center;
  padding:5px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.employees-header-container div {

}
.employees-pagebody-layout {
  border:1px solid #ddd;
  height: 100%;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 2px 3px 2px #ddd;
  border-radius: 10px;
}

.filter-and-export-button-layout {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 14fr 1fr;
}
.filter-and-export-button-layout .export-button {
  width: auto;
  /* border: 1px solid rgb(222, 222, 222); */
  /* padding: 5px; */
  border-radius: 100%;
  margin:auto;
}
.employees-header-container .page-header-container {
  border: none;
  margin: auto;
  padding:0;
}

.add-employee-form-layout-component {
  box-sizing: border-box;
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  background-color: #fff;
  width:100%;
}

.buttons-container {
  box-sizing: border-box;
  grid-column: span 2;
  justify-self: end;
}

/* .add-employee-dialog-component .emp-name-field {
  grid-column:span 2;
} */
.add-employee-dialog-component .emp-description-field {
  grid-column:span 2;
}

.combo-box, .date-picker, .input-style {
  width: 100%;
  box-sizing: border-box;
}
.add-employee-button {
  font-size: smaller;
  width:fit-content;
  background-color: var(--lumo-primary-text-color);
  padding:10px 7px;
}


@media screen and (max-width: 760px) {
  .add-employee-form-layout-component {
    display: block;
    width:fit-content;
  }
  .add-employee-dialog-component .emp-name-field {
    
  }
}