.job-cards-view {
  padding: 2px;
  box-sizing: border-box;
  display: block;
  position: relative;
  height: 100%;
  overflow-y: auto;
  --cv-blue: 212 96% 54%;
  --cv-purple: 259 97% 66%;
  --cv-dropzone-border-color: hsl(var(--cv-blue) / 0.5);
  --cv-dropzone-bg-color: hsl(var(--cv-blue) / 0.2);
  --cv-droptarget-border-color: hsl(var(--cv-purple) / 1);
  --cv-droptarget-bg-color: hsl(var(--cv-purple) / 0.4);
  --cv-stripe-width: 1.5px;
  --cv-stripe-gap: 9px;
  --cv-stripe-color: hsl(var(--cv-blue) / 0.2);
  --cv-layout-border-color: var(--lumo-contrast-40pct);
  --cv-checkerboard-color1: hsl(0 0% 0% / 0.05);
  --cv-checkerboard-color2: hsl(0 0% 100% / 0.05);
  --cv-checkerboard-size: 16px;
}

.job-cards-view[dragging] {
  --cv-checkerboard-color1: hsl(var(--cv-blue) / 0.2);
  --cv-checkerboard-color2: hsl(var(--cv-blue) / 0.1);
  --cv-layout-border-color: var(--cv-dropzone-border-color);
}

.job-cards-view .preview-container {
  display: contents;
}

/* The root layout is not necessarily inside a flex box so width/height needs to be used */
.job-cards-view .preview-container > .layout[style*='align-self: stretch'] {
  width: 100%;
}
.job-cards-view .preview-container > .layout[style*='flex-grow: 1'] {
  height: 100%;
}

/* Apply some default gap and padding to layouts that don't have inline styles for them while dragging. */
.job-cards-view[dragging] .layout:not([style*='gap:']) {
  gap: 8px;
}

.job-cards-view[dragging] .layout:not([style*='padding:'], [empty]) {
  padding: 8px;
}

.job-cards-view .cover-overlay {
  position: absolute;
  border-radius: 1px;
}

.job-cards-view:not([starting-drag]) .cover-overlay.editable-hovering {
  outline: 2px solid hsl(var(--cv-blue) / 1);
  outline-offset: -1px;
}

.job-cards-view:not([starting-drag]) .cover-overlay.editable-editing {
  outline: 1px solid hsl(var(--cv-blue) / 1);
  outline-offset: -1px;
  box-shadow: inset 0 0 0 2px var(--lumo-base-color);
}

.job-cards-view .overlays,
.job-cards-view .drop-zones {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.job-cards-view:not([dragging]) .drop-zones {
  pointer-events: none;
}

.job-cards-view .drop-zone {
  position: absolute;
  box-sizing: border-box;
  border-radius: 1px;
  min-height: 10px;
  min-width: 10px;
}

.job-cards-view[dragging] .drop-zone:not([empty-layout]) {
  outline: 1px dashed var(--cv-dropzone-border-color);
  outline-offset: -2px;
  background-color: var(--cv-dropzone-bg-color);
}

.job-cards-view .drop-zone[remaining-space] {
  background: repeating-linear-gradient(
    -45deg,
    var(--cv-stripe-color),
    var(--cv-stripe-color) var(--cv-stripe-width),
    transparent var(--cv-stripe-width),
    transparent var(--cv-stripe-gap)
  );
}

.job-cards-view[dragging] .drop-zone[drag-over] {
  background: var(--cv-droptarget-bg-color);
  outline: 1px solid var(--cv-droptarget-border-color);
  outline-offset: -1px;
  box-shadow: inset 0 0 0 2px var(--lumo-base-color);
}

.drop-zone[empty-layout] {
  z-index: -1;
}

.job-cards-view:not([readonly]) .layout[empty],
vaadin-form-layout[empty] {
  border-radius: 1px;
  background: repeating-conic-gradient(var(--cv-checkerboard-color1) 0% 25%, var(--cv-checkerboard-color2) 0% 50%) 50% /
    var(--cv-checkerboard-size) var(--cv-checkerboard-size);
  background-clip: content-box;
  outline: 1px dashed var(--cv-layout-border-color);
  outline-offset: -2px;
}
.job-cards-view[dragging]:not([readonly]) vaadin-form-layout[empty] {
  background: transparent;
}

.job-cards-view .layout[empty]::before {
  content: '';
  display: block;
  min-width: 64px;
  min-height: 32px;
}

.job-cards-view[readonly] .drop-zones,
.job-cards-view[readonly] .overlays {
  display: none;
}

.job-cards-view[inline-editing] .drop-zones,
.job-cards-view[inline-editing] .overlays {
  display: none;
}
.job-cards-view .content-wrapper[contenteditable='true'] {
  display: inline-block;
  overflow: hidden;
  width: 100%;
}

.job-cards-view[dragging] vaadin-form-layout {
  padding: 8px;
}
.job-cards-view vaadin-form-layout[empty]::before {
  content: '';
  display: block;
  min-width: 64px;
  min-height: 32px;
}

.job-cards-view[dragging] vaadin-form-layout:not([empty])::after {
  content: '';
  display: block;
  min-width: 64px;
  min-height: 32px;
}


.job-card-page-layout{
  /* border:1px solid red; */
  min-height:100vh;
}

.job-card-page-layout .grid-and-filter-box{
 min-height:500px;

}
.job-car-details-layout {
  border:1px solid #ddd;
  border-radius: 5px;
  margin:10px auto;
}

.job-card-selector-and-button-box {
  border:1px solid #ddd;
  width:100%;
  margin: auto;
  padding:5px 20px;
  border-radius: 5px;
  box-sizing: border-box;
  align-items: baseline;
}
.progress-value-box {
  color:var(--header-text-color);
  font-weight: 600;
  width: min-content;
}

.job-card-grid-customer-info h4 {
  color:var(--header-text-color);
}

.job-card-grid-customer-info p {
  color:var(--subtitle-color);
}

.job-card-details-section1 {
  /* border:1px solid red; */
  width:100%;
}

.radio-buttons-group-style {
  width:100%;
  /* border: 1px solid #eee; */
  border-radius: 5px;
  /* padding:5px; */
  box-sizing: border-box;
  margin-bottom: 5px;
}

.progress-bar-and-label {
  
}

.add-part-header-container {
  /* border:1px solid red; */
  padding:5px;
  width:100%;
}

.add-part-header-container h4{
  color: var(--header-text-color);
  margin-bottom: 5px;
}
.add-part-header-container span {
  color: var(--subtitle-color);
}

.add-part-fields-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border:1px solid #ddd;
  border-radius: 5px;
  padding:10px;
  width:96%;
  /* line-height: 100px; */
  align-items:baseline;
  margin: auto;
}

.add-part-fields-box vaadin-button {

}

.add-part-fields-box vaadin-text-field {
  grid-column:span 3;
}

.add-part-table-box {
  /* border:1px solid rgb(255, 249, 249); */
  /* background-color: #eee; */
  border-radius: 5px;
  margin:5px auto;
  box-sizing: border-box;
  /* display: flex; */
  justify-content: space-between;
  width: 100%;
  height: 200px;
}



/* RESPONSIVE MOBILE VIEW */ 
@media screen and (max-width:768px) {
  .add-part-fields-box {
    display: block;
  }
}