.transactions-view {
  padding: 2px;
  box-sizing: border-box;
  display: block;
  position: relative;
  height: 100%;
  overflow-y: auto;
  --cv-blue: 212 96% 54%;
  --cv-purple: 259 97% 66%;
  --cv-dropzone-border-color: hsl(var(--cv-blue) / 0.5);
  --cv-dropzone-bg-color: hsl(var(--cv-blue) / 0.2);
  --cv-droptarget-border-color: hsl(var(--cv-purple) / 1);
  --cv-droptarget-bg-color: hsl(var(--cv-purple) / 0.4);
  --cv-stripe-width: 1.5px;
  --cv-stripe-gap: 9px;
  --cv-stripe-color: hsl(var(--cv-blue) / 0.2);
  --cv-layout-border-color: var(--lumo-contrast-40pct);
  --cv-checkerboard-color1: hsl(0 0% 0% / 0.05);
  --cv-checkerboard-color2: hsl(0 0% 100% / 0.05);
  --cv-checkerboard-size: 16px;
}

.transactions-view[dragging] {
  --cv-checkerboard-color1: hsl(var(--cv-blue) / 0.2);
  --cv-checkerboard-color2: hsl(var(--cv-blue) / 0.1);
  --cv-layout-border-color: var(--cv-dropzone-border-color);
}

.transactions-view .preview-container {
  display: contents;
}

/* The root layout is not necessarily inside a flex box so width/height needs to be used */
.transactions-view .preview-container > .layout[style*='align-self: stretch'] {
  width: 100%;
}
.transactions-view .preview-container > .layout[style*='flex-grow: 1'] {
  height: 100%;
}

/* Apply some default gap and padding to layouts that don't have inline styles for them while dragging. */
.transactions-view[dragging] .layout:not([style*='gap:']) {
  gap: 8px;
}

.transactions-view[dragging] .layout:not([style*='padding:'], [empty]) {
  padding: 8px;
}

.transactions-view .cover-overlay {
  position: absolute;
  border-radius: 1px;
}

.transactions-view:not([starting-drag]) .cover-overlay.editable-hovering {
  outline: 2px solid hsl(var(--cv-blue) / 1);
  outline-offset: -1px;
}

.transactions-view:not([starting-drag]) .cover-overlay.editable-editing {
  outline: 1px solid hsl(var(--cv-blue) / 1);
  outline-offset: -1px;
  box-shadow: inset 0 0 0 2px var(--lumo-base-color);
}

.transactions-view .overlays,
.transactions-view .drop-zones {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.transactions-view:not([dragging]) .drop-zones {
  pointer-events: none;
}

.transactions-view .drop-zone {
  position: absolute;
  box-sizing: border-box;
  border-radius: 1px;
  min-height: 10px;
  min-width: 10px;
}

.transactions-view[dragging] .drop-zone:not([empty-layout]) {
  outline: 1px dashed var(--cv-dropzone-border-color);
  outline-offset: -2px;
  background-color: var(--cv-dropzone-bg-color);
}

.transactions-view .drop-zone[remaining-space] {
  background: repeating-linear-gradient(
    -45deg,
    var(--cv-stripe-color),
    var(--cv-stripe-color) var(--cv-stripe-width),
    transparent var(--cv-stripe-width),
    transparent var(--cv-stripe-gap)
  );
}

.transactions-view[dragging] .drop-zone[drag-over] {
  background: var(--cv-droptarget-bg-color);
  outline: 1px solid var(--cv-droptarget-border-color);
  outline-offset: -1px;
  box-shadow: inset 0 0 0 2px var(--lumo-base-color);
}

.drop-zone[empty-layout] {
  z-index: -1;
}

.transactions-view:not([readonly]) .layout[empty],
vaadin-form-layout[empty] {
  border-radius: 1px;
  background: repeating-conic-gradient(var(--cv-checkerboard-color1) 0% 25%, var(--cv-checkerboard-color2) 0% 50%) 50% /
    var(--cv-checkerboard-size) var(--cv-checkerboard-size);
  background-clip: content-box;
  outline: 1px dashed var(--cv-layout-border-color);
  outline-offset: -2px;
}
.transactions-view[dragging]:not([readonly]) vaadin-form-layout[empty] {
  background: transparent;
}

.transactions-view .layout[empty]::before {
  content: '';
  display: block;
  min-width: 64px;
  min-height: 32px;
}

.transactions-view[readonly] .drop-zones,
.transactions-view[readonly] .overlays {
  display: none;
}

.transactions-view[inline-editing] .drop-zones,
.transactions-view[inline-editing] .overlays {
  display: none;
}
.transactions-view .content-wrapper[contenteditable='true'] {
  display: inline-block;
  overflow: hidden;
  width: 100%;
}

.transactions-view[dragging] vaadin-form-layout {
  padding: 8px;
}
.transactions-view vaadin-form-layout[empty]::before {
  content: '';
  display: block;
  min-width: 64px;
  min-height: 32px;
}

.transactions-view[dragging] vaadin-form-layout:not([empty])::after {
  content: '';
  display: block;
  min-width: 64px;
  min-height: 32px;
}

.job-card-page-layout {
  width: 100%;
}
.payment-header-card-layout {
  animation: bounce 0.6s ease-out; /* Animation for bounce effect */
  /* transform: scale(0.98); */
  box-sizing:border-box;
}

.payment-header-card-layout h2 {
  color: var(--header-text-color);
}

.payment-header-card-layout h4 {
  color: var(--header-text-color green blue);
  text-align: center;
}

.payment-header-card-layout vaadin-icon {
  color: var(--header-text-color);
  /* font-size: 1.5em; */
  margin-right: 5px;
  text-align: baseline;
}

.payment-header-card-layout p {
  color: var(--subtitle-color);
  margin: -5px 0;
}

.payment-transaction-card {
  padding:20px;
  border-radius: 10px;
}

.payment-header-card-layout .payment-transaction-card:nth-child(1) {
  background-color: #f8d7da; /* Light red */
  box-shadow: 0 4px 6px rgba(255, 0, 0, 0.2); /* Red shadow */
}

.payment-header-card-layout .payment-transaction-card:nth-child(2) {
  background-color: #d4edda; /* Light green */
  box-shadow: 0 4px 6px rgba(40, 40, 40, 0.2); /* Green shadow */
}

.payment-header-card-layout .payment-transaction-card:nth-child(3) {
  background-color: #d1ecf1; /* Light blue */
  box-shadow: 0 4px 6px rgba(0, 0, 255, 0.2); /* Blue shadow */
} 

.payment-header-card-layout .payment-transaction-card:hover {
  animation: bounce 0.6s infinite;
  transition: 0.4s ease-in-out;
  scale: 1.0;
}

.check-box-style {
  /* border: 1px solid var(--lumo-contrast-40pct); */
  border-radius: 5px;
  padding:5px;
  background-color: #d9f0f4cc;
  font-weight: 600;
  color:#1d5375;
  /* box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2); */
}

.print-receipt-button{
  background-color:transparent; /* Bootstrap primary color */
  color: var(--lumo-primary-text-color);
  width:fit-content;
  border: 1px solid var(--lumo-primary-text-color);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: smaller;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Added transform transition */
}
.print-receipt-button:hover {
  background-color: var(--lumo-primary-text-color); /* Change to primary color on hover */
  color: white; /* Change text color to white on hover */
  transform: scale(1.05); /* Slightly increase size on hover */
}
.print-receipt-button:active {
  transform: scale(0.95); /* Slightly decrease size on click */
}
.print-receipt-button:focus {
  outline: none; /* Remove default focus outline */
  /*box-shadow: 0 0 0 2px var(--lumo-primary-color);*/ /* Add custom focus outline */
}

.make-payment-button{
  background-color: var(--lumo-primary-color); /* Bootstrap primary color */
  color: white;
  width:fit-content;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: smaller;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Added transform transition */
}
.make-payment-button:hover {
  transform: scale(0.95); /* Slightly decrease size on click */
  transition: transform 0.1s ease; /* Quick transition for click effect */
}

/* PAYMENT DIALOG STYLING SECTION */
.dialog-header-box {
  box-sizing: border-box;
  width:100%;
  padding:10px;
  justify-content: space-between;
  color:var(--subtitle-color);
}
.dialog-header-box h3 {
  color: var(--header-text-color);
  /* font-size: 1.5em; */
  margin: 0;
}

.transaction-dialog::part(header) {
  /* margin:auto; */
}
.transaction-dialog::part(content) {
  width:400px;
  height: fit-content;
}
.transaction-dialog-content-box {
  border: 1px solid var(--lumo-contrast-40pct);
  border-radius: 10px;
  box-sizing: border-box;
  margin: 10px auto;
  height:fit-content;
}

.transaction-dialog-content-box section {
  width:100%;
}

.transactions-grid-layout {
  background-color: #fff;
}

.transaction-amount-box {
  background:#daffdf;
  margin: 5px 0;
  padding:15px ;
  box-sizing: border-box;
  border-radius:3px;
}

.transaction-amount-box h3 {
  color: rgb(0, 168, 0);
}

.payment-section-box {
  border:1px solid #ddd;
  border-radius:5px;
  margin:5px 0;
}
.payment-section-box h5 {
  color:var(--subtitle-color);
}

.close-button {
  /* border:1px solid var(--lumo-contrast-40pct); */
  border-radius:100%;
  font-size: small;
  cursor: pointer;
}

/* PAYMENT TABS STYLING */
.payment-tab {
  /* background-color:#efefef; */
  width:100%;
}

.payment-item-tab {
  font-size: large;
  /* border:1px solid red; */
  /* margin:5px; */
}

.successful-payment-box {
  align-items: center;
}

/* PAYMENT SUCCESS DIALOG */ 
.successful-payment-box vaadin-icon{
    color:green;
    font-size: 40px;
    background-color:rgb(207, 255, 207);
    padding:10px;
    border-radius: 100%;
}
.successful-payment-box h2{
  color:var(--header-text-color);
}
.successful-payment-box p {
  color:var(--subtitle-color);
  font-size: medium;
}

.successful-payment-box vaadin-button{
  background-color:var(--lumo-primary-color);
  color:#fff;
  cursor:pointer;
}



@keyframes bounce {
  0%, 100% {
    transform: translateY(-5px); /* Initial and final position */
    
  }
  50% {
    transform: translateY(-2px); /* Slightly higher bounce */
  }
}

@media screen and (max-width: 768px) {
  .payment-header-card-layout {
    display: block;
  }
  .payment-header-card-layout .payment-transaction-card {
    padding: 10px; /* Adjust padding for smaller screens */
    margin: 10px 0;
  }
  .payment-header-card-layout h2 {
    font-size: 1.5em; /* Adjust font size for smaller screens */
  }
  .payment-header-card-layout h4 {
    font-size: 1.2em; /* Adjust font size for smaller screens */
  }
  .payment-header-card-layout p {
    font-size: 0.9em; /* Adjust font size for smaller screens */
  }

  .page-header-with-button-container .check-box-style {
    font-size: smaller;
    margin-left: 10px;
    display: block;
  }

  .page-header-with-button-container {
    flex-direction:column;
  }

  
}