vaadin-scroller[slot="drawer"] {
  padding: var(--lumo-space-s);
}

vaadin-side-nav-item vaadin-icon {
  padding: 0;
}

[slot="drawer"]:is(header, footer) {
  display: flex;
  align-items: center;
  gap: var(--lumo-space-s);
  padding: var(--lumo-space-s) var(--lumo-space-m);
  min-height: var(--lumo-size-xl);
  box-sizing: border-box;
}

[slot="drawer"]:is(header, footer):is(:empty) {
  display: none;
}


.header {
  /* background-color:green; */
  width:100%;
  justify-content: space-between;
  padding:10px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 10px;
  cursor:pointer;
}

.header vaadin-icon {
  /* max-width:20px; */
  margin-right: 5px;
}

.header-logo{
  width:70px;
  margin-left: 10px;
}

.header vaadin-icon:hover {
  cursor:pointer;
  color:gray;
  transition: 0.5ms ease;
}

.drawer-footer {
  padding:10px;
  width:100%;
  /*background-color: var(--page-body-color);*/
  background-color: var(--lumo-primary-color-50pct);
}

.drawer-footer .header {
  color:var(--lumo-header-text-color);
}

.drawer-scroller .menu-item-link {
  /* border:1px solid red; */
  color:#333;
  margin: 7px;
  font-size: small;
  box-sizing: border-box;
  border-radius: 5px;
}

.drawer-scroller .menu-item-link:hover {
  background-color: var(--lumo-primary-color-10pct);
  cursor:pointer;
  transition:0.5ms;
}

.drawer-scroller {
  
}

.page-body {
  background-color:var(--page-body-color);
}

.notification-icon-context-menu {
  background-color: red;
}
.notification-icon-context-menu h4 {
  font-size: large;
  padding: 10px;
  color:blue;
}

.dialog-box::part(content) {
  /*background-color: rgba(0, 0, 0, 0.409);*/
  /*position: fixed;*/
  /*top: 0; left: 0;bottom: 0;right: 0;*/
  /*box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);*/
  box-sizing: border-box;
}
.dialog-box::part(overlay) {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}


.dialog-close-button {
  /* border:1px solid rgb(214, 214, 214); */
  text-align: center;
  border-radius: 100%;
  padding: 5px;
  font-weight: 100;
}

.dialog-close-button:hover {
  cursor:pointer;
  background-color: #eee;
  transition: 0.5ms;
}

.add-employee-dialog-component::part(content) {
  width:800px;
}

.add-employee-dialog-component h4  {
  color: var(--header-text-color);
  margin: 5px 0;
  font-size: large;
}

.add-employee-dialog-component span {
  font-size: 12px;
  color:var(--subtitle-color);
}
.add-employee-dialog-component div {
  /* border: 1px solid red; */
  align-items: center;
  margin: auto 10px;
}

.item-delete-button {
  font-size: smaller;
  color: #ff0000;
  height: 10px;
  align-items: center;
  margin: auto;
  background-color: transparent;
}
.item-delete-button:hover {
  cursor: pointer;
  color: #d10000;
  background-color: #fff3f3;
  transition: color 0.2s ease-in-out;
}

.item-update-button {
  font-size: smaller;
  color: var(--lumo-primary-color);
  margin: auto;
  align-items: center;
}

.empty-grid-component {
  border:1px solid #ddd;
  box-shadow: var(--lumo-box-shadow-xs);
  border-radius: 8px;
  width:600px;
}

.item-update-button:hover{
    cursor: pointer;
  background-color:var(--lumo-primary-color-50pct);
    transition: color 0.2s ease-in-out;
}

.default-button-style {
  padding:18px 10px;
  border-radius: 5px;
  font-size: small;
  color:#fff;
  background-color: var(--lumo-primary-color);
}
.default-button-style:hover {
  background-color: #248ad3;
  transition: background-color 0.2s ease-in-out,
  box-shadow 0.2s ease-in-out;
  cursor: pointer;
}
.default-button-style:focus {
  background-color: red;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.disable-button-style {
  padding:18px 10px;
  border-radius: 5px;
  font-size: small;
  color:#fff;
  background-color: #dddddd;
}

.confirm-dialog-style::part(header) {
  padding:0;
}
.alternative-grid-style::part(header-cell) {
  color: var(--subtitle-color);
}

.combo-box-style{
  width:100%;
}

@media screen and (max-width: 768px) {
  .add-employee-dialog-component::part(content) {
    width:100%;
  }
  .add-employee-dialog-component::part(overlay) {
    width: 90%;
  }
}